body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chat-container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

#chat-box {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.user {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}
